@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Practica 2</h1>
        <p>
            @Html.ActionLink("Ver Lista de automoviles", "Index", "Car")
        </p>
    </section>
</main>
