@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" style="color:lightseagreen;">Práctica Programada 2</h1>
        <p>
            @Html.ActionLink("Ver Lista de automoviles", "Index", "Car", null, new { @class = "btn btn-primary" })
        <p>
            @Html.ActionLink("Ver lista de trabajos", "Index", "Job", null, new { @class = "btn btn-primary" })
        </p>
        <p>
            @Html.ActionLink("Ver lista de personas", "Index", "Person", null, new { @class = "btn btn-primary" })
        </p>
    </section>
</main>
